body {
    background-color: goldenrod;
    font-family: 'Anton', sans-serif;
}
#header {
    background-color: whitesmoke;
}
.banner {
    display: block;
    min-height: 200px;
    width: 100%;
    position: relative;
}
#gold {
    background-color: papayawhip;
    height: 2em;
    width: 100%;
}

/*=======Progress bar stylization================*/
#myProgress {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    border-radius: 25px;
}
#myBar {
    width: 1%;
    height: 2em;
    background-color: cadetblue;
    border-radius: 25px;

}
#myProgress22rifle {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;
}
#myBar22rifle {
    width: 1%;
    height: 2em;
    background-color: springgreen;
    display: none;
    border-radius: 25px;

}
#myProgress9mm {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;
}
#myBar9mm {
    width: 1%;
    height: 2em;
    background-color: hotpink;
    display: none;
    border-radius: 25px;

}
#myProgress40cal {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;
}
#myBar40cal {
    width: 1%;
    height: 2em;
    background-color: yellowgreen;
    display: none;
    border-radius: 25px;

}
#myProgresscolt45 {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBarcolt45 {
    width: 1%;
    height: 2em;
    background-color: chartreuse;
    display: none;
    border-radius: 25px;

}
.house {
    background-color: whitesmoke;
    padding: 1em;
    margin: 1em;
}
#myProgressak47 {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBarak47 {
    width: 1%;
    height: 2em;
    background-color: red;
    display: none;
    border-radius: 25px;

}
#myProgressscar {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBarscar {
    width: 1%;
    height: 2em;
    background-color: orange;
    display: none;
    border-radius: 25px;

}
#myProgressm60 {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBarm60 {
    width: 1%;
    height: 2em;
    background-color: lawngreen;
    display: none;
    border-radius: 25px;

}
#myProgressgrenadeLauncher {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBargrenadeLauncher {
    width: 1%;
    height: 2em;
    background-color: darkcyan;
    display: none;
    border-radius: 25px;

}
#myProgressabrams {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBarabrams {
    width: 1%;
    height: 2em;
    background-color: gold;
    display: none;
    border-radius: 25px;

}
#myProgressf22 {
    width: 90%;
    background-color: grey;
    border: 2px solid black;
    margin: 16px;
    display: none;
    border-radius: 25px;

}
#myBarf22 {
    width: 1%;
    height: 2em;
    background-color: hotpink;
    display: none;
    border-radius: 25px;

}
#circle {
    height: 6em;
    width: 6em;
    text-align: center;
}



